<h1 id="con1">Conversations</h1>
  <% @users.each do |user| %>
   <% if user.id != current_user.id && User.exists?(user.id)%>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" id="con2">
    <%= user.username %>  
    <span class="badge bg-primary rounded-pill" id="con3"> <%= link_to "Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post" %></span>
    </li>
    <% end %>
  <% end %>
</ul>

